<html>
<head>
    <title>AngularJS controllerAs</title>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>
<body ng-app="app">

    <!-- Use controllerAs -->
    <div class="container" ng-controller="myController">
        <h1>Hello {{ name }}</h1>
        <input type="text" ng-model="nameInput">
        <button ng-click="updateName()">Update name</button>
    </div>

    <script src="../node_modules/angular/angular.min.js"></script>
    <script src="app.module.js"></script>
    <script src="app.controller.js"></script>
</body>
</html>

