<!DOCTYPE html>
<html ng-app="todo">

<head>
    <title>Todo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./todo.css">
</head>

<body ng-controller="TodoController as todo">
<div class="container">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">Todo</a>
            <p class="navbar-text navbar-right"><span class="badge">{{ todo.todos.length }}</span> todos</p>
        </div>
    </nav>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="container">
            <h3>Open tasks</h3>
        </div>
    </div>
</div>

<todo ng-repeat="item in todo.todos | filter : {state: 'open'}"
      item="item">
</todo>

<div class="row">
    <div class="col-lg-12">
        <div class="container">
            <h3>Completed tasks</h3>
        </div>
    </div>
</div>
<todo ng-repeat="item in todo.todos | filter : {state: 'completed'}"
      item="item">
</todo>
<div>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <!-- FORM TO CREATE TODOS -->
            <div class="row">
                <div class="col-lg-12">
                    <form>
                        <div class="input-group" style="margin: 10px 0;">
                            <input type="text" class="form-control input-lg" placeholder="Add todo..."
                                   ng-model="todo.newTodo.title">
                            <span class="input-group-btn">
                                    <button class="btn btn-success input-lg add-todo" type="submit"
                                            ng-click="todo.addTodo(todo.newTodo)">Add todo</button>
                                </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </nav>
</div>
</div>
<script type="text/javascript" src="../node_modules/angular/angular.min.js"></script>
<script type="text/javascript" src="./todo.module.js"></script>
<script type="text/javascript" src="./todo.constant.js"></script>
<script type="text/javascript" src="./todo.service.js"></script>
<script type="text/javascript" src="./todo.controller.js"></script>
<script type="text/javascript" src="./todo.component.js"></script>
</body>

</html>
