<html>
<head>
    <title>AngularJS expressions &amp; bindings</title>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="../../node_modules/angular/angular.min.js"></script>
</head>
<body ng-app>
    <div class="container">
        <h1>Expressions &amp; bindings</h1>
        <h2>One way model binding</h2>
        <p>1 + 2 = {{ 1 + 2 }}</p>

        <h2>Two way binding</h2>
        <label for="name">Name:</label>
        <input type="text" id="name" ng-model="name">
        <h3>Welcome {{ name }}!</h3>
    </div>
</body>
</html>
