<html>
<head>
    <title>AngularJS Course application</title>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="../../node_modules/angular/angular.min.js"></script>
</head>
<body ng-app>

    <h2>One way model binding</h2>
    <p>1 + 2 = {{1 + 2}}</p>

    <h2>Two way binding</h2>
    <input type="text" ng-model="naam">
    <h3>Welkom {{ naam }}!</h3>
</body>
</html>
