<html>
<head>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="app/style.css">
</head>
<body ng-app="app" ng-controller="assignmentController as assignmentCtrl">
<div class="container">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">AngularJS Course</a>
            <p class="navbar-text navbar-right"><span class="badge">{{ assignmentCtrl.assignments.length }}</span> modules
            </p>
        </div>
    </nav>

    <div class="list-group">
        <div class="list-group-item list-group-item-info">
            <h2 class="list-group-item-heading">Assignments</h2>
            <p class="list-group-item-text">
                Complete the following assignments.
            </p>
        </div>
        <assignment-row
            ng-repeat="assignment in assignmentCtrl.assignments"
            url="assignment.url"
            name="assignment.name"
            description="assignment.description"
            index="$index">
        </assignment-row>

    </div>

    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="app/app.module.js"></script>
    <script src="app/assignment/assignment.module.js"></script>
    <script src="app/assignment/assignment.service.js"></script>
    <script src="app/assignment/assignment.controller.js"></script>
    <script src="app/assignment/assignment-row.component.js"></script>
</body>
</html>