<h4>Add person</h4>
<label for="name">{{ $ctrl.nameLabel }}</label> <input id="name" type="text" ng-model="$ctrl.name"/><br>
<label for="age">{{ $ctrl.ageLabel }}</label> <input id="age" type="text" ng-model="$ctrl.age"/><br>
<button ng-click="$ctrl.buttonClicked()">Add Person</button>
