<ul>
    <li ng-repeat="person in $ctrl.persons">
        {{ person.name }}
        <span ng-if="person.age < 67">{{ person.age }}</span><br>
        <span ng-bind-html="person.salary | currency:'€'"></span>
    </li>
</ul>