<div class="list-group-item col-xs-12" >
    <div class="row">
        <div class="col-md-4 col-xs-12">
            <h3 class="list-group-item-heading assignment-heading">
                <span class="badge">{{$ctrl.index + 1}}</span>
                {{$ctrl.name}}
            </h3>
        </div>

        <div class="col-md-6 col-xs-12">
            <p class="list-group-item-text assignment-text"
               ng-if="$ctrl.description"
               ng-bind-html="$ctrl.description">
            </p>
        </div>
        <div class="col-md-2 btn-group-vertical visible-md visible-lg">
            <a ng-href="{{$ctrl.url}}" class="btn btn-default">
                <span class="glyphicon glyphicon-wrench"></span>
                Assignment
            </a>
            <a ng-href="{{$ctrl.url}}/solution" class="btn btn-default">
                <span class="glyphicon glyphicon-thumbs-up"></span>
                Solution
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 hidden-md hidden-lg">
            <div class="btn-group btn-group-justified" role="group">
                <a ng-href="{{$ctrl.url}}" class="btn btn-default">
                    <span class="glyphicon glyphicon-wrench"></span>
                    Assignment
                </a>
                <a ng-href="{{$ctrl.url}}/solution" class="btn btn-default">
                    <span class="glyphicon glyphicon-thumbs-up"></span>
                    Solution
                </a>
            </div>
        </div>
    </div>
</div>