<html>
<head>
    <title>AngularJS services</title>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>
<body ng-app="app">
    <h1>Using AngularJS services</h1>
    <div ng-controller="myController as myCtrl">
        <input ng-model="myCtrl.searchInput">
        <ul>
            <li ng-repeat="person in myCtrl.persons | filter:myCtrl.searchInput">
                <strong>{{ person.name | uppercase }}</strong>
                <span ng-if="person.age < 30">age: {{ person.age }}</span>
            </li>
        </ul>
    </div>

    <!-- Import scripts -->
    <script src="../../node_modules/angular/angular.min.js"></script>
    <script src="app.module.js"></script>
    <script src="app.controller.js"></script>
    <script src="person.service.js"></script>
</body>
</html>

