<label for="name">{{ $ctrl.nameLabel }}</label>
<input id="name"
       ng-model="name"
       type="text"
       placeholder="{{ $ctrl.namePlaceholder }}">

<label for="age">{{ $ctrl.ageLabel }}</label>
<input id="age"
       ng-model="age"
       type="text"
       placeholder="{{ $ctrl.agePlaceholder }}">

<button ng-click="$ctrl.onClick({ name: name, age: age })">Add</button>
