<html>
<head>
    <title>AngularJSF Course application</title>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">

    <!--Add the library here-->

</head>
<body> <!--Let angular know where the app starts-->
    <h1>AngularJS Course</h1>
    <hr>
    <h2>One way model binding</h2>
    <!--Write an expression to show 1+3-->
    <hr>
    <h2>Two way binding</h2>
    <!--Create an input with an ng-model-->
    <!--Create an expression-->
</body>
</html>