<html>
<head>
    <title>AngularJS expressions &amp; bindings</title>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <!-- Add the library here -->
</head>
<!-- Let Angular know where the app starts -->
<body>
    <div class="container">
        <h1>Expressions &amp; bindings</h1>
        <h2>One way model binding</h2>
        <!-- Write an expression to show the result of 1 + 3 -->
        <p>1 + 3 = </p>

        <h2>Two way binding</h2>
        <label for="name">Name:</label>
        <!-- Add ng-model to the input -->
        <input type="text" id="name">
        <!-- Use an expression to show the inputted name -->
        <h3>Hello</h3>

    </div>
</body>
</html>