<html>
<head>
    <title>AngularJS module &amp; controller</title>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="../../node_modules/angular/angular.min.js"></script>
</head>
<body ng-app="app">

    <script>
        // Create a new module

        // Request the module from angular

        // Add a controller to the module 'app'

    </script>

    <div class="container">
        <h1>Controller</h1>
        <div><!-- Bind the controller to the div -->
            <!-- Add the expression for a scope variable in the h2 element -->
            <h2>Hello -name-</h2>
            <!-- Add a binding to the input element -->
            <input type="text"/>
            <!-- Bind the ng-click to a function from the controller to the button element -->
            <button>Update name</button>
        </div>
    </div>
</body>
</html>
