<html>
<head>
    <title>AngularJS Course application</title>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="../node_modules/angular/angular.min.js"></script>
</head>
<body ng-app> <!--Let angular know WHICH app to start-->
    <h2>Controller</h2>
    <script>
        // Create a new module

        // Request a module from angular

        // Add a controller to the module 'app'

    </script>
    <div><!--Bind the controller to the div-->
        <!--Add the expression for a scope variable in the h1 element-->
        <h1></h1>
        <!--Add a binding to the input element-->
        <input type="text" />
        <!--Bind the ng-click to a function from the controller to the button element-->
        <button>The Button</button>
    </div>
    </body>
</html>