<label for="name">{{ $ctrl.nameLabel }}</label>
<input id="name"
       ng-model="name"
       type="text"
       placeholder="{{ $ctrl.namePlaceholder }}">

<label for="age">{{ $ctrl.ageLabel }}</label>
<input id="age"
       ng-model="age"
       type="text"
       placeholder="{{ $ctrl.agePlaceholder }}">

<!-- Use the ng-click directive to trigger the onClick function -->
<!-- Make sure to add the name and age as a single object -->
<button>Add</button>
