<label> {{ $ctrl.label }} 
    <input 
        ng-model="localNgModel" 
        type="text" 
        placeholder="{{ $ctrl.placeholder }}">
    <!--Let the button call onButtonClick function when clicking-->
    <button>Add</button>
</label>