<label> {{ $ctrl.label }} 
    <input 
        ng-model="localNgModel" 
        type="text" 
        placeholder="{{ $ctrl.placeholder }}">
    <button ng-click="$ctrl.onButtonClick(localNgModel)">Add</button>
</label>