<html>
<head>
    <title>AngularJS custom filters</title>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>
<body ng-app="app">
    <h1>Using AngularJS custom filters</h1>
    <div ng-controller="myController as myCtrl">
        <input ng-model="myCtrl.searchInput">
        <ul>
            <li ng-repeat="person in myCtrl.persons | filter:myCtrl.searchInput">
                <strong>{{ person.name | uppercase }}</strong>
                <br />
                <span ng-if="person.age < 30">age: {{ person.age }}</span>
                <br ng-if="person.age < 30" />
                <span>Salary: {{ person.salary.amount }}</span>
            </li>
        </ul>
        <div>
            <label for="name">Name <input ng-model="myCtrl.newPerson.name" type="text" id="name"></label>
            <label for="age">Age <input ng-model="myCtrl.newPerson.age" type="text" id="age"></label>
            <button ng-click="myCtrl.addPerson(myCtrl.newPerson)">Add</button>
        </div>
    </div>

    <!-- Import scripts -->
    <script src="../node_modules/angular/angular.min.js"></script>
    <script src="app.module.js"></script>
    <script src="app.controller.js"></script>
    <script src="person.service.js"></script>
    <script src="currency.filter.js"></script>
</body>
</html>

