<html>
<head>
    <title>AngularJS directives</title>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>
<body ng-app="app">
    <div class="container" ng-controller="myController as myCtrl">
        <h1>Using standard Angular directives</h1>
        <ul>
            <!-- Repeat over the myCtrl.persons -->
            <li>
                <!-- Replace '-name-' with name of person -->
                <strong>-name-</strong>
                <!-- Create an ng-if condition, replace '-age-' with age of person -->
                <span>age: -age-</span>
            </li>
        </ul>
    </div>

    <script src="../node_modules/angular/angular.min.js"></script>
    <script src="app.module.js"></script>
    <script src="app.controller.js"></script>
</body>
</html>




