<html>
<head>
    <title>AngularJS Course application</title>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>
<body ng-app="app">
    <h1>Using standard Angular directives</h1>
    <div ng-controller="myController as myCtrl">
        <ul>
            <!--Repeat over the myCtrl.persons-->
            <li>
                <strong>-Name-</strong>
                <!--Create an ng-if condition-->
                <span>age: -age-</span>
            </li>
        </ul>
    </div>

    <!-- Import scripts -->
    <script src="../node_modules/angular/angular.min.js"></script>
    <script src="app.module.js"></script>
    <script src="app.controller.js"></script>
</body>
</html>




