<html>
<head>
    <title>AngularJS filters</title>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>
<body ng-app="app">
    <h1>Using AngularJS filters</h1>
    <div ng-controller="myController as myCtrl">
        <!-- Bind the input field to the model -->
        <input>

        <ul>
            <!-- Filter the myCtrl.persons array using the model value -->
            <li ng-repeat="person in myCtrl.persons">
                <!-- Make the name uppercase -->
                <strong>{{ person.name }}</strong>
                <span ng-if="person.age < 30">age: {{ person.age }}</span>
            </li>
        </ul>
    </div>

    <!-- Import scripts -->
    <script src="../node_modules/angular/angular.min.js"></script>
    <script src="app.module.js"></script>
    <script src="app.controller.js"></script>
</body>
</html>

