<html>
<head>
	<title>AngularJS Promises</title>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>

<body ng-app="app">
	<h1>Angular Promises</h1>

	<div ng-controller="myController as myCtrl">
		<my-input placeholder="(e.g. alber70g)" 
            label="Github Username:" 
            on-change="myCtrl.getUser(value)">
        </my-input>
        <span ng-show="myCtrl.loading">Request in progress...</span>
        <br>
        <div ng-if="myCtrl.user">
            <dl>
                <dt>Name</dt>
                <dd>{{myCtrl.user.name}}</dd>
                <dt>Avatar</dt>
                <dd><img style="height: 130px" ng-src="{{myCtrl.user.avatar_url}}"></dd>
            </dl>
        </div>
<pre>{{ myCtrl.githubUser | json }}</pre>
	</div>
	<!-- Import scripts -->
	<script src="../../node_modules/angular/angular.js"></script>
	<script src="app.module.js"></script>
	<script src="app.controller.js"></script>
	<script src="my-input.component.js"></script>
	<script src="github.service.js"></script>
</body>

</html>