<html>
<head>
    <title>AngularJS promises</title>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>

<body ng-app="app">
    <div class="container" ng-controller="myController as myCtrl">
        <h1>Angular Promises</h1>
        <my-input placeholder="username"
                  label="Github Username:"
                  on-change="myCtrl.getUser(value)">
        </my-input>
        <span ng-show="myCtrl.loading">Request in progress...</span>
        <br>
        <div ng-if="myCtrl.user">
            <dl>
                <dt>Name</dt>
                <dd>{{myCtrl.user.name}}</dd>
                <dt>Avatar</dt>
                <dd><img style="height: 130px" ng-src="{{myCtrl.user.avatar_url}}"></dd>
            </dl>
        </div>
    </div>
    <!-- Import scripts -->
    <script src="../../node_modules/angular/angular.js"></script>
    <script src="app.module.js"></script>
    <script src="app.controller.js"></script>
    <script src="my-input.component.js"></script>
    <script src="github.service.js"></script>
</body>

</html>