<label> {{ $ctrl.label }}
    <input
            ng-model="localNgModel"
            type="text"
            placeholder="{{ $ctrl.placeholder }}"></input>
    <button ng-click="$ctrl.onButtonClick(localNgModel)">Search</button>
</label>