<html>
<head>
    <title>AngularJS controllerAs</title>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>
<body ng-app="app">

    <div class="container" ng-controller="myController as myCtrl">
        <h1>Hello {{ myCtrl.name }}</h1>
        <input type="text" ng-model="myCtrl.nameInput">
        <button ng-click="myCtrl.updateName()">Update name</button>
    </div>

    <script src="../../node_modules/angular/angular.min.js"></script>
    <script src="app.module.js"></script>
    <script src="app.controller.js"></script>
</body>
</html>

