<html>
<head>
    <title>AngularJS Course application</title>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>
<body ng-app="app">
    <h1>Controller</h1>

    <div ng-controller="myController as myCtrl">
        <h1>{{ myCtrl.name }}</h1>
        <input type="text" ng-model="myCtrl.theInput">
        <button ng-click="myCtrl.buttonExpression()">Button</button>
    </div>

    <!-- Import scripts -->
    <script src="../../node_modules/angular/angular.min.js"></script>
    <script src="app.module.js"></script>
    <script src="app.controller.js"></script>
</body>
</html>

