<html>
<head>
    <title>AngularJS Course application</title>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="../../node_modules/angular/angular.min.js"></script>
</head>
<body ng-app="app">
    <h2>Controller</h2>
    <script>
        angular.module('app', []);

        var app = angular.module('app');

        app.controller('myController', function myController($scope) {
            $scope.naam = 'Albert';
            $scope.deInput = 'Jan';

            $scope.buttonExpression = function() {
                $scope.naam = $scope.deInput;
            }
        });
    </script>
    <div ng-controller="myController">
        <h1>{{ naam }}</h1>
        <input type="text" ng-model="deInput">
        <button ng-click="buttonExpression()">De Button</button>
    </div>
</body>
</html>

