<html>
<head>
    <title>AngularJS module &amp; controller</title>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="../../node_modules/angular/angular.min.js"></script>
</head>
<body ng-app="app">

    <script>
        angular.module('app', []);

        var app = angular.module('app');

        app.controller('myController', function myController($scope) {
            $scope.name = 'John';
            $scope.nameInput = 'Mike';

            $scope.updateName = function() {
                $scope.name = $scope.nameInput;
            }
        });
    </script>

    <div class="container">
        <h1>Controller</h1>
        <div ng-controller="myController">
            <h1>Hello {{ name }}</h1>
            <input type="text" ng-model="nameInput">
            <button ng-click="updateName()">Update name</button>
        </div>
    </div>
</body>
</html>

