<html>
<head>
    <title>AngularJS component logic</title>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>
<body ng-app="app">

    <div class="container" ng-controller="myController as myCtrl">
        <h1>Angular component logic</h1>

        <my-input name-label="Name:"
                  name-placeholder="name"
                  age-label="Age:"
                  age-placeholder="age"
                  on-click="myCtrl.addPerson(name, age)">
        </my-input>

        <ul>
            <li ng-repeat="person in myCtrl.persons">
                <strong>{{ person.name }}</strong>
                <span ng-if="person.age < 30">age: {{ person.age }}</span>
            </li>
        </ul>
    </div>

    <script src="../../node_modules/angular/angular.js"></script>
    <script src="app.module.js"></script>
    <script src="app.controller.js"></script>
    <script src="person.service.js"></script>
    <script src="my-input.component.js"></script>
</body>
</html>

