<html>
<head>
    <title>AngularJS directives</title>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>
<body ng-app="app">
    <div class="container" ng-controller="myController as myCtrl">
        <h1>Using standard Angular directives</h1>
        <ul>
            <li ng-repeat="person in myCtrl.persons">
                <strong>{{ person.name }}</strong>
                <span ng-if="person.age < 30">age: {{ person.age }}</span>
            </li>
        </ul>
    </div>

    <script src="../../node_modules/angular/angular.min.js"></script>
    <script src="app.module.js"></script>
    <script src="app.controller.js"></script>
</body>
</html>

